:root {
    --primary-color: #6482AD;
    --secondary-color: #7FA1C3;
    --tertiary-color: #E2DAD6;
    --accent-color: #F5EDED;
    background: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
}
h1 {
    color: var(--accent-color);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
a {
    color: var(--tertiary-color);
    text-decoration: none;
}
.contact-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
}
